<div class="container mt-4">
    <div class="card">
      <div class="card-header">
        <h2>Detalles del Participante</h2>
      </div>
      <div class="card-body" *ngIf="participante">
        <div class="row mb-3">
          <div class="col-md-3"><strong>ID:</strong></div>
          <div class="col-md-9">{{ participante.idParticipante }}</div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3"><strong>Nombre:</strong></div>
          <div class="col-md-9">{{ participante.nombre }}</div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3"><strong>Apellidos:</strong></div>
          <div class="col-md-9">{{ participante.apellidos }}</div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3"><strong>Centro:</strong></div>
          <div class="col-md-9">{{ participante.centro }}</div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3"><strong>Especialidad:</strong></div>
          <div class="col-md-9">{{ participante.nombreEspecialidad }}</div>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary me-2" routerLink="/participantes">Volver</button>
        <button class="btn btn-secondary" [routerLink]="['/editar-participante', participante?.idParticipante]">Editar</button>
      </div>
    </div>
</div>