<div class="login-container animate__animated animate__fadeIn">
  <div class="login-box">
    <img src="../../../assets/imagenes/Logo.png" alt="Logo" class="logo mb-4">
    <h2>Iniciar Sesión</h2>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-floating mb-3">
        <input type="text" 
               class="form-control" 
               id="username"
               [(ngModel)]="username" 
               name="nombreUsuario"
               placeholder="Usuario"
               required>
        <label for="username">Usuario</label>
      </div>
      
      <div class="form-floating mb-4">
        <input type="password" 
               class="form-control" 
               id="password"
               [(ngModel)]="password" 
               name="contrasena"
               placeholder="Contraseña"
               required>
        <label for="password">Contraseña</label>
      </div>

      <button type="submit" 
              class="btn custom-btn-submit w-100"
              [disabled]="!loginForm.form.valid">
        Iniciar Sesión
      </button>
    </form>
  </div>
</div>