<div class="container mt-4">
    <h2>{{ isEditing ? 'Editar' : 'Crear' }} Participante</h2>
    
    <form (ngSubmit)="onSubmit()" #participanteForm="ngForm">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="participante.nombre" required>
      </div>
  
      <div class="mb-3">
        <label for="apellidos" class="form-label">Apellidos</label>
        <input type="text" class="form-control" id="apellidos" name="apellidos" [(ngModel)]="participante.apellidos" required>
      </div>
  
      <div class="mb-3">
        <label for="centro" class="form-label">Centro</label>
        <input type="text" class="form-control" id="centro" name="centro" [(ngModel)]="participante.centro" required>
      </div>
  
      <div class="mb-3">
        <label for="especialidad" class="form-label">Especialidad</label>
        <select class="form-control" id="especialidad" name="especialidad_id_especialidad" [(ngModel)]="participante.especialidad_id_especialidad" required>
          <option [ngValue]="null">Seleccione una especialidad</option>
          <option *ngFor="let especialidad of especialidades" [value]="especialidad.idEspecialidad">
            {{especialidad.nombre}}
          </option>
        </select>
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="!participanteForm.form.valid">
        {{ isEditing ? 'Actualizar' : 'Crear' }}
      </button>
    </form>
  </div>